/* Layout and Column Styles */

#main-grid-row {
    width: 100%;
    height: auto;
}

.left-column {
    width: 1fr;
    height: auto;
}

.right-column {
    width: 2fr;
    height: auto;
}

.left-column:last-child, .middle-column:last-child, .right-column:last-child {
    margin-right: 0;
}

.spacer-cell {
    background: transparent;
    border: none;
}
